*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
    padding: 0 15px;
    background-color: #CCC;
}

form {
    max-width: 500px;
    margin: auto;
}

.form-group {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

.form-control {
    padding: 5px;
}
